
svg.icon {
  width: 1em; height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


/* 页脚蝴蝶振翅动画 */
.copyright svg{
  animation:butterfly 1s linear infinite alternate;
}
@keyframes butterfly {
  from {
    transform:rotateY(70deg);
  }
  to {
    transform:rotateY(0deg);
  }
}


/*字体的css*/
@font-face{
    font-family:'Candyhome' ;  /* 字体名自定义即可 */
    src:url('/fonts/title1.ttf'); /* 字体文件路径 */
    font-display : swap;
  }
  @font-face{
    font-family:'subtitle' ;  /* 字体名自定义即可 */
    src:url('/fonts/subtitle.ttf'); /* 字体文件路径 */
    font-display : swap;
  }
  h1#site-title {
     font-family: 'Candyhome', sans-serif;
     font-size: 60px !important;
     color: #fff;
  }  
  #subtitle{
    font-family: 'subtitle', sans-serif;
    color: #fff;
  }
  #aside-content{
    font-family: 'subtitle', sans-serif;
    color: #fff;
  }
  #recent-posts{
    font-family: 'subtitle', sans-serif;
    color: #fff;
  }
 #site-name{
  font-family: 'subtitle', sans-serif;
  color: #fff !important;
 }
 .site-page{
  font-family: 'subtitle', sans-serif;
   color: #fff !important;
 }

/* 底角样式 */
  #footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* backdrop-filter: saturate(100%) blur(5px) */
}

#footer::before {
    background: rgba(255,255,255,.15)
}

#footer #footer-wrap {
    color: var(--font-color)
}

#footer #footer-wrap a {
    color: var(--font-color)
}




/* 一图流背景 */
/* 首页文章卡片 */
#recent-posts > .recent-post-item{
  background: rgb(18 24 27 / 30%) !important;
  backdrop-filter: blur(10px) saturate(200%) !important;
}
/* 首页侧栏卡片 */
.card-widget{
  background: rgb(18 24 27 / 30%) !important;
  backdrop-filter: blur(10px) saturate(200%) !important;
}
/* 文章页面正文背景 */
div#post{
  background: rgb(18 24 27 / 30%) !important;
  backdrop-filter: blur(10px) saturate(200%) !important;
}
/* 分页页面 */
div#page{
  background: rgb(18 24 27 / 30%) !important;
  backdrop-filter: blur(10px) saturate(200%) !important;
}
/* 归档页面 */
div#archive{
  background: rgb(18 24 27 / 30%) !important;
  backdrop-filter: blur(10px) saturate(200%) !important;
}
/* 标签页面 */
div#tag{
  background: rgb(18 24 27 / 30%) !important;
  backdrop-filter: blur(10px) saturate(200%) !important;
}
/* 分类页面 */
div#category{
  background: rgb(18 24 27 / 30%) !important;
  backdrop-filter: blur(10px) saturate(200%) !important;
}




/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }


    [data-theme='dark'] #web_bg:before, [data-theme='dark'] #footer:before, [data-theme='dark'] #page-header:before{
      background-color: rgba(0,0,0,0.0) !important;
    }    


/* 顶部对齐 */
#bbTimeList{
  margin-top: 0 !important;
  background: rgb(18 24 27 / 30%) !important;
  backdrop-filter: blur(10px) saturate(200%) !important;
}    



/* 头部菜单的背景样式 */

[data-theme='dark'] #page-header.nav-fixed > #nav, [data-theme='dark'] #page-header.not-top-img > #nav{
  background: rgb(18 24 27 / 30%) !important;
  
}